@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
}

.tête__titre {
  font-family: "Shrikhand", cursive;
}

input::placeholder {
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: white;
}

@keyframes strillé {
  0% {
    /*transform: scaleX(0);*/
    background-size: 0% 100%;
  }
  100% {
    /*transform: scaleX(1);*/
    background-size: 100% 100%;
  }
}
@keyframes mou {
  10% {
    transform: scale3d(0.93, 0.93, 1);
  }
  40% {
    transform: scale3d(1, 1, 1);
  }
  80% {
    transform: scale3d(0.97, 0.97, 1);
  }
  100% {
    transform: scale3d(0.98, 0.98, 1);
  }
}
@keyframes fleche-tension {
  0% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(4deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(2deg);
  }
  35% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes fleche {
  5% {
    transform: translateY(0) translateX(0) rotateZ(0);
  }
  10% {
    transform: translateY(0) translateX(0) rotateZ(-65deg);
  }
  15% {
    transform: translateY(0) translateX(0) rotateZ(-90deg);
  }
  20% {
    transform: translateY(0) translateX(0) rotateZ(90deg);
  }
  25% {
    transform: translateY(-1vh) translateX(3vw) rotateZ(450deg);
  }
  30% {
    transform: translateY(-2vh) translateX(7.75vw) rotateZ(810deg);
  }
  35% {
    transform: translateY(-3vh) translateX(12.5vw) rotateZ(1170deg);
  }
  40% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1530deg);
  }
  45% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1800deg);
  }
  50% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1740deg);
  }
  55% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1705deg);
  }
  60% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1740deg);
  }
  65% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1750deg);
  }
  70% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1735deg);
  }
  75% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1725deg);
  }
  80% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1730deg);
  }
  85% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1735deg);
  }
  90% {
    transform: translateY(-2vh) translateX(46vw) rotateZ(1740deg);
  }
  100% {
    transform: translateY(-2vh) translateX(46vw) rotateZ(1740deg);
  }
}
.recherche--bouton {
  display: block;
  margin: 35px auto;
  height: 50px;
  width: 220px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 5px 10px 0px rgba(180, 180, 180, 0.5);
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
}
.recherche--bouton:hover {
  /* demander pour ici couleur avec seulement changement opacité vs charge navigateur */
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(180, 180, 180, 0.8);
  /* darken */
  opacity: 0.9;
  /* lighten */
  animation: mou 0.6s ease-in-out 0.05s 1 forwards;
}
.recherche--bouton:focus + .recherche__archer .recherche__archer--fleche {
  transform-origin: bottom;
  animation: fleche-tension 0.5s linear 1.35s 1 forwards;
}
.recherche--bouton:focus + .recherche__archer {
  z-index: 1;
  animation: fleche 1.5s linear 0s 1 forwards;
}
.recherche__archer {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 24px;
  /*  largeur pour la fin d'animation fleche-tension, que i ne sorte pas de sa boite */
  font-size: 1.2rem;
  z-index: -1;
}
.recherche__archer--fleche {
  color: #9356DC;
}

.tête {
  position: relative;
  height: 62px;
}
.tête__titre {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  padding: 11px 0;
  margin: 0;
}
.tête__flèche {
  color: black;
  text-decoration: none;
  width: 18.2px;
  height: 20.8px;
  position: absolute;
  top: 21px;
  left: 8vw;
}
.tête__flèche:visited {
  color: black;
}
.tête__flèche--vide {
  position: absolute;
  font-size: 1.3rem;
  width: 18.2px;
  height: 20.8px;
}
.tête__flèche--plein {
  position: absolute;
  font-size: 1.3rem;
  width: 18.2px;
  height: 20.8px;
  background: linear-gradient(90deg, #FF79DA 40%, #9356DC 75%);
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  background-position: left;
  /* pour version bg-size */
  transform-origin: 100% 50%;
  /* pour version scale */
}
.tête__flèche:hover .tête__flèche--plein {
  opacity: 1;
  animation: strillé 0.3s linear;
}
.tête__flèche:hover .tête__flèche--vide {
  opacity: 0;
  transform: translateX(-25px);
  transition: all 0.3s;
}

.recherche {
  width: 100%;
  position: relative;
  margin: 0px auto;
  text-align: center;
  height: 337px;
  background-color: whitesmoke;
}
.recherche--zone {
  text-align: center;
  height: 50px;
  display: block;
  width: 100%;
  margin: 0 auto;
  border: none;
  background-color: #e7e7e7;
  font-size: 0.95rem;
  font-weight: 600;
  box-shadow: inset 0px 2px 3px #b4b3b3;
  color: black;
}
.recherche--zone:focus {
  background-color: #FF79DA;
  /* pas opti */
}
.recherche__fa {
  position: relative;
  bottom: 36px;
  left: -70px;
}
.recherche__titre {
  margin: 0 15%;
  margin-top: 20px;
}
.recherche__texte {
  margin: 10px 10% 0 10%;
  font-size: 1.05rem;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
