@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
}

/* header */
.tête__titre {
  font-family: "Shrikhand", cursive;
}

/* fonctionnement */
.bouton {
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: white;
}

/* animation bouton fleche retour page accueil header */
@keyframes strillé {
  0% {
    /*transform: scaleX(0);*/
    background-size: 0% 100%;
  }
  100% {
    /*transform: scaleX(1);*/
    background-size: 100% 100%;
  }
}
/* animation bouton moteur de recherche header */
@keyframes mou {
  10% {
    transform: scale3d(0.93, 0.93, 1);
  }
  40% {
    transform: scale3d(1, 1, 1);
  }
  80% {
    transform: scale3d(0.97, 0.97, 1);
  }
  100% {
    transform: scale3d(0.98, 0.98, 1);
  }
}
/* animation activation bouton moteur de recherche */
@keyframes fleche-tension {
  0% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(4deg);
  }
  15% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(2deg);
  }
  35% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes fleche {
  5% {
    transform: translateY(0) translateX(0) rotateZ(0);
  }
  10% {
    transform: translateY(0) translateX(0) rotateZ(-65deg);
  }
  15% {
    transform: translateY(0) translateX(0) rotateZ(-90deg);
  }
  20% {
    transform: translateY(0) translateX(0) rotateZ(90deg);
  }
  25% {
    transform: translateY(-1vh) translateX(3vw) rotateZ(450deg);
  }
  30% {
    transform: translateY(-2vh) translateX(7.75vw) rotateZ(810deg);
  }
  35% {
    transform: translateY(-3vh) translateX(12.5vw) rotateZ(1170deg);
  }
  40% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1530deg);
  }
  45% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1800deg);
  }
  50% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1740deg);
  }
  55% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1705deg);
  }
  60% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1740deg);
  }
  65% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1750deg);
  }
  70% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1735deg);
  }
  75% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1725deg);
  }
  80% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1730deg);
  }
  85% {
    transform: translateY(-4vh) translateX(15vw) rotateZ(1735deg);
  }
  90% {
    transform: translateY(-2vh) translateX(46vw) rotateZ(1740deg);
  }
  100% {
    transform: translateY(-2vh) translateX(46vw) rotateZ(1740deg);
  }
}
/* animation fonctionnement */
@keyframes demi-mou {
  0% {
    transform: scale3d(0.97, 0.97, 1);
  }
  20% {
    transform: scale3d(1.02, 1.02, 1);
  }
  40% {
    transform: scale3d(0.98, 0.98, 1);
  }
  60% {
    transform: scale3d(1, 1, 1);
  }
  80% {
    transform: scale3d(0.99, 0.99, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tourne {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-90deg);
  }
  20% {
    transform: rotate(-40deg);
  }
  30% {
    transform: rotate(180deg);
  }
  40% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(540deg);
  }
  60% {
    transform: rotate(720deg);
  }
  70% {
    transform: rotate(780deg);
  }
  80% {
    transform: rotate(690deg);
  }
  90% {
    transform: rotate(730deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
/* animation navigation restaurants */
@keyframes coup {
  10% {
    transform: scale3d(0.975, 0.975, 1);
  }
  40% {
    transform: scale3d(0.975, 0.975, 1);
  }
  100% {
    transform: scale3d(0.99, 0.99, 1);
  }
}
@keyframes tombe {
  5% {
    transform: rotateZ(40deg);
  }
  10% {
    transform: rotateZ(110deg);
  }
  15% {
    transform: rotateZ(85deg);
  }
  20% {
    transform: rotateZ(92.5deg);
  }
  30% {
    transform: rotateZ(90deg);
  }
  40% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(75deg);
  }
  60% {
    transform: rotateZ(60deg);
  }
  70% {
    transform: rotateZ(45deg);
  }
  80% {
    transform: rotateZ(30deg);
  }
  90% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes efface {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes grandi-bat {
  0% {
    transform: scale3d(0, 0, 1);
  }
  33% {
    transform: scale3d(1, 1, 1);
  }
  38% {
    transform: scale3d(1, 1, 1);
  }
  43% {
    transform: scale3d(1, 1, 1);
  }
  48% {
    transform: scale3d(1, 1, 1);
  }
  53% {
    transform: scale3d(1.4, 1.4, 1);
  }
  58% {
    transform: scale3d(1.05, 1.05, 1);
  }
  63% {
    transform: scale3d(1.2, 1.2, 1);
  }
  68% {
    transform: scale3d(1, 1, 1);
  }
  73% {
    transform: scale3d(1, 1, 1);
  }
  78% {
    transform: scale3d(1, 1, 1);
  }
  83% {
    transform: scale3d(1.4, 1.4, 1);
  }
  88% {
    transform: scale3d(1.05, 1.05, 1);
  }
  95% {
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/* bouton moteur de recherche avec activation animation */
.recherche--bouton {
  display: block;
  margin: 35px auto;
  height: 50px;
  width: 220px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 5px 10px 0px rgba(180, 180, 180, 0.5);
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
}
.recherche--bouton:hover {
  /* demander pour ici couleur avec seulement changement opacité vs charge navigateur */
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(180, 180, 180, 0.8);
  /* darken */
  opacity: 0.9;
  /* lighten */
  animation: mou 0.6s ease-in-out 0.05s 1 forwards;
}
.recherche--bouton:focus + .recherche__archer .recherche__archer--fleche {
  transform-origin: bottom;
  animation: fleche-tension 0.5s linear 1.35s 1 forwards;
}
.recherche--bouton:focus + .recherche__archer {
  z-index: 1;
  animation: fleche 1.5s linear 0s 1 forwards;
}
.recherche__archer {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 24px;
  /*  largeur pour la fin d'animation fleche-tension, que i ne sorte pas de sa boite */
  font-size: 1.2rem;
  z-index: -1;
}
.recherche__archer--fleche {
  color: #9356DC;
}

.tête {
  position: relative;
  height: 62px;
}
.tête__titre {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  padding: 11px 0;
  margin: 0;
}
.tête__flèche {
  color: black;
  text-decoration: none;
  width: 18.2px;
  height: 20.8px;
  position: absolute;
  top: 21px;
  left: 8vw;
}
.tête__flèche:visited {
  color: black;
}
.tête__flèche--vide {
  position: absolute;
  font-size: 1.3rem;
  width: 18.2px;
  height: 20.8px;
}
.tête__flèche--plein {
  position: absolute;
  font-size: 1.3rem;
  width: 18.2px;
  height: 20.8px;
  background: linear-gradient(90deg, #FF79DA 40%, #9356DC 75%);
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  background-position: left;
  /* pour version bg-size */
  transform-origin: 100% 50%;
  /* pour version scale */
}
.tête__flèche:hover .tête__flèche--plein {
  opacity: 1;
  animation: strillé 0.3s linear;
}
.tête__flèche:hover .tête__flèche--vide {
  opacity: 0;
  transform: translateX(-25px);
  transition: all 0.3s;
}

/* bloc bem coeur réutisilé */
.coeur {
  position: absolute;
  right: 25px;
  bottom: 30px;
  height: 24px;
  width: 24px;
}
.coeur:hover {
  cursor: grab;
}
.coeur--vide {
  font-size: 1.48rem;
  padding: 1px 0px 0px 0.3px;
}
.coeur__filtre {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 40px;
  height: 40px;
}
.coeur__filtre--plein {
  font-size: 1.5rem;
  padding: 8px;
  position: absolute;
  color: transparent;
  opacity: 0;
  transform-origin: 50% 50%;
  transform: scale(0);
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  background-clip: text;
  -webkit-background-clip: text;
}

/* moteur de recherche */
.recherche {
  width: 100%;
  position: relative;
  margin: 0px auto;
  text-align: center;
  height: 337px;
  background-color: whitesmoke;
}
.recherche--zone {
  text-align: center;
  height: 50px;
  display: block;
  width: 100%;
  margin: 0 auto;
  border: none;
  background-color: #e7e7e7;
  font-size: 0.95rem;
  font-weight: 600;
  box-shadow: inset 0px 2px 3px #b4b3b3;
  color: black;
}
.recherche--zone:focus {
  background-color: #FF79DA;
  /* pas opti */
}
.recherche__fa {
  position: relative;
  bottom: 36px;
  left: -70px;
}
.recherche__titre {
  margin: 0 15%;
  margin-top: 20px;
}
.recherche__texte {
  margin: 10px 10% 0 10%;
  font-size: 1.05rem;
  font-weight: 300;
}

/* fonctionnement */
.fonctionnement {
  height: 440px;
}
.fonctionnement__titre {
  text-indent: 6%;
  margin: 0;
  padding: 48px 0 18px 0;
  font-size: 1.5rem;
}
.fonctionnement__navigation {
  display: flex;
  flex-flow: row wrap;
}

.bouton {
  width: 87vw;
  height: 75px;
  margin: 10px auto;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(180, 180, 180, 0.5);
  position: relative;
  text-align: start;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  background-color: #f7f7f7;
}
.bouton:hover {
  animation: demi-mou 1s ease-in 0.05s 1 forwards;
  cursor: pointer;
}
.bouton--numero {
  position: absolute;
  left: -10px;
  top: 26px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 22px;
  padding: 3px 8.5px 2px 6.5px;
  color: white;
}
.bouton:hover .bouton--numero {
  animation: tourne 1.5s linear forwards;
}
.bouton--noir {
  width: 14px;
  margin-right: 15vw;
  text-indent: 11vw;
  position: relative;
  font-size: 1rem;
  color: grey;
}
.bouton:hover .bouton--noir {
  opacity: 0;
}
.bouton--violet {
  color: #9356DC;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 14px;
  margin-right: 15vw;
  text-indent: 11vw;
  font-size: 1rem;
  z-index: -1;
}
.bouton--tel {
  font-size: 1.1rem;
}
.bouton:hover .bouton--violet {
  z-index: 1;
}
.bouton--calque {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9356DC;
  box-shadow: 0px 5px 10px 0px #000;
  border-radius: 20px;
  opacity: 0;
  z-index: -1;
}
.bouton:hover .bouton--calque {
  z-index: 1;
  opacity: 0.1;
}

/* navigation restaurants */
.restaurants {
  background-color: whitesmoke;
  height: 1220px;
}
.restaurants__titre {
  position: relative;
  margin: 0;
  text-indent: 6%;
  font-size: 1.5rem;
  padding: 55px 0 20px 0;
}
.restaurants__navigation {
  height: 1070px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.carte {
  display: inline;
  height: 250px;
  position: relative;
  color: black;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(180, 180, 180, 0.5);
}
.carte:hover {
  animation: coup 2s ease-in 0.05s forwards;
}
.carte__lien {
  text-decoration: none;
  background: white;
}
.carte__lien:link {
  color: black;
}
.carte__lien:visited {
  color: black;
}
.carte__lien--nouveau {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: #99E2D0;
  width: 80px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 6px 0;
  border-radius: 2px;
  color: #138d75;
  transform-origin: 10% 50%;
}
.carte__lien__image {
  height: 175px;
  width: 90vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.carte__lien__titre {
  margin: 0;
  padding: 13px 0 0 0;
  font-size: 1.05rem;
  text-indent: 4%;
}
.carte__lien__texte {
  margin: 0;
  padding: 5px 0 0 0;
  text-indent: 4%;
  font-size: 1.05rem;
  font-weight: 300;
}
.carte__lien--selection {
  display: none;
}
.carte__lien--selection:checked + .coeur .coeur--vide {
  animation: efface 0.5s linear forwards;
}
.carte__lien--selection:hover + .coeur .coeur__filtre--plein {
  opacity: 1;
}
.carte__lien--selection:checked + .coeur .coeur__filtre--plein {
  animation: grandi-bat 1.8s linear forwards;
  opacity: 1;
  z-index: 1;
}
.carte:hover .carte__lien--nouveau {
  z-index: 1;
  animation: tombe 2s linear 0.05s;
}

/*# sourceMappingURL=style.css.map */
