@keyframes strillé {
    0% {
      /*transform: scaleX(0);*/
       background-size: 0% 100%;
    }
    100% {
      /*transform: scaleX(1);*/
      background-size: 100% 100%;
    }
}
@keyframes mou{
    10%{transform: scale3d(0.93, 0.93, 1);}
    40%{transform: scale3d(1, 1, 1);}
    80%{transform: scale3d(0.97, 0.97, 1);}
    100%{transform: scale3d(0.98, 0.98, 1);}  
}
@keyframes fleche-tension{
    0%{transform: rotate(5deg)}
    5%{transform: rotate(-5deg)}
    10%{transform: rotate(4deg)}
    15%{transform: rotate(-5deg)}
    20%{transform: rotate(3deg)}
    25%{transform: rotate(-5deg)}
    30%{transform: rotate(2deg)}
    35%{transform: rotate(-5deg)}
    40%{transform: rotate(1deg)}
    100%{transform: rotate(-20deg)}
}
@keyframes fleche{
    5%{transform: translateY(0) translateX(0) rotateZ(0);}
    10%{transform: translateY(0) translateX(0) rotateZ(-65deg);}
    15%{transform: translateY(0) translateX(0) rotateZ(-90deg);}
    20%{transform: translateY(0) translateX(0) rotateZ(90deg);}
    25%{transform: translateY(-1vh) translateX(3vw) rotateZ(450deg);}
    30%{transform: translateY(-2vh) translateX(7.75vw) rotateZ(810deg);}
    35%{transform: translateY(-3vh) translateX(12.5vw) rotateZ(1170deg);}
    40%{transform: translateY(-4vh) translateX(15vw) rotateZ(1530deg);}
    45%{transform: translateY(-4vh) translateX(15vw) rotateZ(1800deg);}
    50%{transform: translateY(-4vh) translateX(15vw) rotateZ(1740deg);}
    55%{transform: translateY(-4vh) translateX(15vw) rotateZ(1705deg);}
    60%{transform: translateY(-4vh) translateX(15vw) rotateZ(1740deg);}
    65%{transform: translateY(-4vh) translateX(15vw) rotateZ(1750deg);}
    70%{transform: translateY(-4vh) translateX(15vw) rotateZ(1735deg);}
    75%{transform: translateY(-4vh) translateX(15vw) rotateZ(1725deg);}
    80%{transform: translateY(-4vh) translateX(15vw) rotateZ(1730deg);}
    85%{transform: translateY(-4vh) translateX(15vw) rotateZ(1735deg);}
    90%{transform: translateY(-2vh) translateX(46vw) rotateZ(1740deg);}
    100%{transform: translateY(-2vh) translateX(46vw) rotateZ(1740deg);}
}