body{ 
    font-family: 'Roboto', sans-serif;
}
/* header */
.tête__titre{
    font-family: 'Shrikhand', cursive;
}
/* fonctionnement */
.bouton{
    font-family: 'Roboto', sans-serif;
}
/* bandeau */
.bandeau__texte__titre{
    font-family: 'Shrikhand', cursive;
}
/* carte de menu */
.repas--bouton{
    font-family: 'Roboto', sans-serif;
}
/* footer */
.pied__titre{
    font-family: 'Shrikhand', cursive;
}