// couleurs
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-quatre: white;
$couleur-bg: rgb(247, 247, 247);
$couleur-encre: black;
$couleur-footer: rgb(54, 54, 54);


// police
$size-un: 1rem;
$size-deux: 1.5rem;
$size-trois: 1.1rem;

// media
$tablet-iphone: 1023px;
$desktop: 1024px;