/* bandeau des pages menu */
.bandeau{
    position: relative;
    &__image{
        width: 100%;
        object-fit: cover;
        max-height: 250px;
    }
    &__texte{
        width: 100%;
        position: absolute;
        bottom: -46px;
        height: 85px;
        background-color: white;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        &__titre{
            text-indent: 3%;
            margin: 0;
            padding: 28.5px 0 28.5px 0;
        }
        &--selection{
            display: none;
            &:checked + .coeur .coeur--vide{
                animation: efface 0.5s linear forwards;
            }
            &:hover + .coeur .coeur__filtre--plein{   
                opacity: 1;
            }
            &:checked + .coeur .coeur__filtre--plein{
                animation: grandi-bat 1.8s linear forwards;
                opacity: 1;
                z-index: 1;
            }
        }
    }
}