/* bloc bem coeur réutilisé */
.coeur{
    position: absolute;
    right: 25px;
    bottom: 30px;
    height: 24px;
    width: 24px;
    &:hover{
        cursor:grab;
    } 
    &--vide{
        font-size: 1.48rem;
        padding: 1px 0px 0px 0.3px;
    }
    &__filtre{
        position: absolute;
        right: -8px;
        top: -8px;
        width: 40px;
        height: 40px;
        &--plein{
            font-size: 1.5rem;
            padding: 8px;
            position: absolute;
            color: transparent;
            opacity: 0;
            transform-origin: 50% 50%;
            transform: scale(0);  
            background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
            -webkit-background-clip: text;   
        }
    }
} 