/* bloc bem coeur réutilisé */
.coeur{
    position: absolute;
    right: 10px;
    bottom: 20px;
    height: 48px;
    width: 48px;
    &:hover{
        cursor:grab;
    } 
    &--vide{
        font-size: 1.48rem;
        padding: 13px 12.5px 12px 12.8px;
    }
    &__filtre{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 48px;
        height: 48px;
        &--plein{
            font-size: $size-deux;
            padding: 12px 11px 12px 13px;
            position: absolute;
            color: transparent;
            opacity: 0;
            transform-origin: 50% 50%;
            transform: scale(0);  
            background: linear-gradient(200deg, $couleur-primaire 35%, $couleur-secondaire 65%);
            -webkit-background-clip: text;   
        }
    }
} 