.tête{
    position: relative;
    height: 62px;
    background: white;
    &:hover .tête__titre{
        animation: zoop 2s linear infinite;
    }
    &__titre{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        padding: 11px 0;
        margin: 0 auto;
        width: 200px;
    }
    &__flèche{
        color: black;
        text-decoration: none;
        width: 18.2px;
        height: 20.8px;
        position:absolute;
        top: 21px;
        left: 8%; 
        &:visited{
            color: black;
        } 
        &--vide{
            position:absolute;
            font-size: 1.3rem;
            width: 18.2px;
            height: 20.8px;  
        }
        &:hover .tête__flèche--vide{
            opacity: 0;
            transform: translateX(-25px);
            transition: all 0.3s;
        }
        &--plein{
            position:absolute;
            font-size: 1.3rem;
            width: 18.2px;
            height: 20.8px; 
            background: linear-gradient(90deg, #FF79DA 40%, #9356DC 75%);
            background-repeat: no-repeat;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
            background-position: left;  /* pour version bg-size */
            transform-origin: 100% 50%; /* pour version scale */ 
        }
        &:hover .tête__flèche--plein {
            opacity: 1;
            animation: strillé 0.3s linear;
        }
    }
}