/* navigation restaurants */
.restaurants{
    background-color: rgb(245, 245, 245);
    height: 1220px;
    &__titre{
        position: relative;
        margin: 0;
        text-indent: 6%;
        font-size: 1.5rem;
        padding: 55px 0 20px 0;
    }
    &__navigation{
        height: 1070px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}
.carte{
    display: inline;
    height: 250px;
    position: relative;
    color: black;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(180,180,180, 0.5);
    &:hover{
        animation: coup 2s ease-in 0.05s forwards;
    } 
    &__lien{
        text-decoration: none;
        background: white;
        &:link{
            color: black;
        }
        &:visited{
            color: black;
        }
        &--nouveau{
            position: absolute;
            right: 12px;
            top: 12px;
            background-color: #99E2D0;
            width: 80px;
            text-align: center;
            font-size: 0.8rem;
            font-weight: 500;
            padding:6px 0;
            border-radius: 2px;
            color:  #138d75;
            transform-origin: 10% 50%;
        }
        &__image{
            height: 175px;
            width: 90vw;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }
        &__titre{
            margin: 0;
            padding: 13px 0 0 0;
            font-size: 1.05rem;
            text-indent: 4%;
        }
        &__texte{
            margin: 0;
            padding: 5px 0 0 0;
            text-indent: 4%;
            font-size: 1.05rem;
            font-weight: 300;
        }
        &--selection{
            display: none;
            &:checked + .coeur .coeur--vide{
                animation: efface 0.5s linear forwards;
            }
            &:hover + .coeur .coeur__filtre--plein{   
                opacity: 1;
            }
            &:checked + .coeur .coeur__filtre--plein{
                animation: grandi-bat 1.8s linear forwards;
                opacity: 1;
                z-index: 1;
            }
        }
    }
    &:hover .carte__lien--nouveau{
        z-index: 1;
        animation: tombe 2s linear 0.05s;
    }
}







