/* fonctionnement */
.fonctionnement{
    height: 440px;
    background: $couleur-quatre;
    @media screen and (min-width: $desktop){
        height: 280px;
    }
    &__titre{
        text-indent: 6%;
        margin: 0;
        padding: 48px 0 18px 0;
        font-size: $size-deux;
    }
    &__navigation{
        display: flex;
        flex-flow: row wrap;    
    }
}
.bouton{
    font-family: 'Roboto', sans-serif;
    width: 87%;
    height: 75px;
    margin: 10px auto; 
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(180,180,180, 0.5);
    position: relative;
    text-align: start;
    padding: 0;
    font-size: $size-un;
    color: $couleur-encre;
    font-weight: 500;
    background-color: $couleur-bg;  
    @media screen and (min-width: $desktop){
        width: 25%;
    }
    &:hover{
        animation: demi-mou 1s ease-in 0.05s 1 forwards;
        cursor: pointer;
    }  
    &--numero{
        position: absolute;
        left: -10px;
        top: 26px;
        background-color: $couleur-primaire;
        border: 1px solid $couleur-primaire;
        border-radius: 22px;
        padding: 3px 8.5px 2px 6.5px;
        color: $couleur-quatre;
    }
    &:hover .bouton--numero{
        animation: tourne 1.5s linear forwards;
    }
    &--noir{
        width: 14px;
        margin: 0 7% 0 11%;  
        text-indent: 11%;
        position: relative;
        font-size: $size-un;  
        color: grey;
    }
    &:hover .bouton--noir{
        opacity: 0;
    } 
    &--violet{
        color: $couleur-primaire;
        position: absolute;
        bottom: 30px;
        left: 0px;
        width: 14px;
        margin: 0 7% 0 11%;  
        text-indent: 11%;
        font-size: $size-un;
        z-index: -1;
    }
    &:hover .bouton--violet{
        z-index: 1;
    }
    &--tel{
        font-size: $size-trois;
        
    }
    &::after{
        content:'';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $couleur-primaire;
        box-shadow: 0px 5px 10px 0px #000;
        border-radius: 20px;
        opacity: 0;
        z-index: -1;
    }
    &:hover::after{
        z-index: 1;
        opacity: 0.1;
    }
}

/* navigation restaurants */
.restaurants{
    background-color: #f7f7f7;
    height: 1190px;
    @media screen and (min-width: $desktop){
        height: 700px;
    }
    &__titre{
        position: relative;
        margin: 0;
        text-indent: 6%;
        font-size: $size-deux;
        padding: 55px 0 20px 0;
    }
    &__navigation{
        height: 1070px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        @media screen and (min-width: $desktop){
            height: 550px;
        }
    }
}
.carte{
    display: inline;
    height: 250px;
    width: 87%;
    position: relative;
    color: $couleur-encre;
    background: $couleur-quatre;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(180,180,180, 0.5);
    @media screen and (min-width: $desktop){
        width: 45%;
    }
    @media screen and (min-width: $desktop){
        &:hover{
            animation: coup 2s ease-in 0.05s forwards;
        } 
    }
    &__lien{
        text-decoration: none;
        background: $couleur-quatre;
        &:link{
            color: $couleur-encre;
        }
        &:visited{
            color: $couleur-encre;
        }
        &--nouveau{
            position: absolute;
            right: 12px;
            top: 12px;
            background-color: $couleur-tertiaire;
            width: 80px;
            text-align: center;
            font-size: 0.8rem;
            font-weight: 500;
            padding:6px 0;
            border-radius: 2px;
            color:  #138d75;
            transform-origin: 10% 50%;
        }
        &__image{
            height: 175px;
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }
        &__titre{
            margin: 0;
            padding: 13px 0 0 0;
            font-size: $size-trois;
            text-indent: 4%;
            font-weight: 600;
        }
        &__texte{
            margin: 0;
            padding: 5px 0 0 0;
            text-indent: 4%;
            font-size: 1.05rem;
            font-weight: 300;
        }
        &--selection{
            display: none;
            &:checked + .coeur .coeur--vide{
                animation: efface 0.5s linear forwards;
            }
            &:checked + .coeur .coeur__filtre--plein{   
                opacity: 1;
            }
            &:checked + .coeur .coeur__filtre--plein{
                animation: grandi-bat 1.8s linear forwards;
                opacity: 1;
                z-index: 1;
            }
            @media screen and (min-width: $desktop){
                &:hover + .coeur .coeur--vide{
                    animation: efface 0.5s linear forwards;
                }
                &:hover + .coeur .coeur__filtre--plein{   
                    opacity: 1;
                }
                &:hover + .coeur .coeur__filtre--plein{
                    animation: grandi-bat 1.8s linear forwards;
                    opacity: 1;
                    z-index: 1;
                }
            }   
        }
    }
    @media screen and (min-width: $desktop){
        &:hover .carte__lien--nouveau{
            z-index: 1;
            animation: tombe 2s linear 0.05s;
        }
    }    
}









